{% load static %}
{% csrf_token %}
<!-- REQUIRED JS SCRIPTS -->

<!-- Sidebar -->
<script src="{% static 'js/dashboard/sidebar.js' %}"></script>
<!-- AJAX Request -->
<script src="{% static 'js/ajax.js' %}"></script>

<script>
    $(document).ready(function() {
        var csrfToken = jQuery("[name=csrfmiddlewaretoken]").val();

        getTreeView(csrfToken);
    });
</script>