{% load static %}
<!DOCTYPE html>

<html>
<head>
{% include "templates/header.html" %}

{% include "templates/dashboard/header.html" %}

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include "templates/dashboard/navbar.html" %}

    {% include "pass_server/templates/dashboard/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      {% include "templates/dashboard/breadcrumb.html" %}

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
        | Your Page Content Here |
        -------------------------->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


 {% include "templates/dashboard/footer.html" %}

<!-- ./wrapper -->

 {% include "templates/footer.html" %}
 {% include "pass_server/templates/dashboard/footer.html" %}


</body>
</html>