{% load static %}
<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'js/jquery/jquery.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'js/default.js' %}"></script>